body {
        background-color:E05555
        font-size: 14;
        margin: 2px;
        padding: 2px;
				margin-left:auto;
        margin-right:auto;
        color:FFFFFF
        font-family: Tahoma, "Verdana", sans-serif;  
}
