/* using colorscheme:
*       #1a2238 dark blueish
*       #9daaf2 lighter blueish
*       #ff6a3d contrast orange
*       #f4db7d contrast yellow
*/

html{
	min-height:200px;
	max-height:400px;
	min-width:200px;
	max-height:400px;
}
body {
        background-color: #1a2238;
        font-size: 14;
        margin: 2px;
        padding: 2px;
	margin-left:auto;
        margin-right:auto;
        color: #FFFFFF;
        font-family: Tahoma, "Verdana", sans-serif;  
}

.buttons {
        display: inline-block;
        border: white;
        padding: 5px 50px;
}


.button {
        background-color: #ff6a3d; /* Green */
        border: none;
        color: white;
        padding: 5px 10px; /* padding of the text */
        margin: 1px 3px; /* padding between the buttons */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: Tahoma, "Verdana", sans-serif;  
        border-radius: 8px 8px 8px 8px; /* makes the button a circle */
        font-size: 16px;
        cursor: pointer; /* changes the cursor icon to let them knows its a button, later we can add hover change color*/
      }