/* General styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Calendar container */
.calendar-container {
  width: 100%;
  min-width: 500px; 
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: hidden; /* Avoid overflow causing clipping */
  box-sizing: border-box; /* Ensures padding is included in width */
}

/* Calendar header */
.calendar-header {
  display: flex;
  justify-content: space-between;  /* Space between buttons */
  align-items: center;
  padding: 5px;
  box-sizing: border-box; /* Ensures the padding is considered inside the width */
}

/* Month name */
#monthName {
  margin: 0;
  font-size: 1.2rem;
  flex-grow: 1; /* Allows the month name to grow in the available space */
  text-align: center;
}

/* Button styles */
.calendar-header button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  min-width: 60px; /* Ensures the button is always wide enough */
}

.calendar-header button:hover {
  background-color: #444;
}

.week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #555;
  color: white;
  padding: 10px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.week-days span {
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.day:hover {
  background-color: #ddd;
}

.task-day {
  background-color: #E05555;
  color: white;
}

.current-day {
  border: 2px solid #4CAF50;
}

.day {
  position: relative; /* Ensure the day cell is positioned to allow positioning within it */
}

.task-indicator {
  position: absolute;
  top: 0;
  right: 0;
  background-color: blue; /* Updated color for better visibility */
  color: white;
  border-radius: 0; /* Changed to a square shape */
  width: 15px; /* Reduced size */
  height: 15px; /* Reduced size */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
}


.buttons-container {
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

