html{
	min-height:200px;
	max-height:400px;
	min-width:200px;
	max-height:400px;
}
body {
        background-color: FFFFFF;
        font-size: 14;
        margin: 2;
        padding: 2;
	margin-left:auto;
        margin-right:auto;
        color: 000000;
        font-family: Tahoma, "Verdana", sans-serif;  
}
